<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      App Playground
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item [routerLink]="['/naughts-and-crosses']">
        <ion-label>
          naughts and crosses
        </ion-label>
      </ion-item>
      <ion-item [routerLink]="['/ten-thirty-five']">
        <ion-label>
          10:35
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-content>
